@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

nav {
    width: 100%;
    background-color: #1b1b1b;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.menu {
    /* background-color: red; */
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu ul li a {
    width: 100%;
    height: 100%;
    padding: 5px 15px;
    margin-left: 7px;
    font-weight: 500;
    font-size: 18px;
}

/* .menu ul li {
    padding: 10px;
} */

.menu ul li a:hover{
    color: black;
    background-color: white;
    transition: ease 0.3s;
    border-radius: 5px;
}

.menu .logo {
    padding: 5px 15px;
    font-size: 35px;
    font-weight: 600;
    text-shadow: 0 0 5px blue,
                0 0 15px red;
}

.menu .logo:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.3s;
    text-shadow: 0 0 5px blue,
    0 0 15px blue,
    0 0 30px blue

}

.img {
    width: 100%;
    height: 100vh;
    background: center url(simple-website-bg-img.jpg);
    background-size: cover;
    position: relative;
}

.img::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.center {
    position: absolute;
    top: 53%;
    left:50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.center p {
    font-size: 50px;
    font-weight: 600;
}

.center .buttons button {
    padding: 10px 20px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: white;
    color: black;
    font-size: 20px;
    outline: none;
    border: 1px solid white;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}

.center .buttons button:first-child {
    background-color: transparent;
    color: white;
}

.center .buttons button:first-child:hover {
    background-color: white;
    color: black;
    transform: all ease 0.3s;
}